<header style="position:relative;top:0; height:2vh; background-color:blue; color:yellow;padding:10px;width: 98vw;">
  <nav>
    <a style="color:white" routerLink="users">Users</a>
    &nbsp;
    <!-- // roles/2 -->
    <a style="color:white" [routerLink]="['roles']">Roles</a>
    &nbsp;
    <a style="color:white" [routerLink]="['role-assignment']">Role Assignment Page</a>
    &nbsp;
    <a style="color:white" [routerLink]="['permission-assignment']">Permission Assignment Page</a>
    &nbsp;
  </nav>
</header>
<main>
  <!-- admin sayfası üzerinde de  -->
  <router-outlet></router-outlet>
</main>